img {
  width: 20%;
  margin: calc(10% / 6);
  transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
}

nav {
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1;
  width: 30%;
  margin-left: calc(10% / 6);
  padding: 20px 0;
  font-family: Raleway;
  font-size: 1.5em;
  color: white;
}
body {
  background-color: black;
}
img:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Adjust the shadow properties as needed */
}
